/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol,menu{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}


/* LAYOUT STYLE */
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.container-sm{
    max-width: 700px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row.reverse{
flex-direction: row-reverse;
}
.mb20{
    margin-bottom: 20px;
}
.col-1-6{
    width: calc(100%/6);
}
.col-1-3{
    width: calc(100%/3);
}
.col-2-3{
    width: calc((100%/3)*2);
}
.col-4-6{
    width: calc((100%/6)*4);
}
.col-25{
    width:25%;
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.col-80{
    width: 80%;
}
.col-100{
    width: 100%;
}


/* BACKGROUND SECTION */
.bg-gray{
    background-color: lightslategray;
}
.bg-blu{
    background-color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-violet{
    background-color: violet;
}
.bg-lightblu{
    background-color: lightblue;
}
.bg-lightgray{
    background-color: lightgray;
}
.bg-green{
    background-color: green;
}
.bg-darkgray{
    background-color:rgb(58, 58, 58);
}
.bg-darkpink{
    background-color: palevioletred;
}
.bg-darkcyan{
    background-color: darkcyan;
}
.bg-cyan{
    background-color: cyan;
}
.bg-orange{
    background-color: orange;  
}


/* SPECIFIC HEADER STYLE */
.page-header{
    min-height: 400px;
    background-image:url(./img/jumbo.png);
    background-size:cover;
}
.box{
    line-height: 28px;
    border-radius: 15px;
    min-width: 70px;
    text-align: center;
    background-color: white;
    color: black;
}

/* NAVBAR */
.navbar{
    justify-content: space-between;
    align-items:flex-end;
}
.link{
    color:white;
    display: flex;
    gap: 20px;
    align-self: center;
}

/* BANNER  */
.banner{
    padding: 30px 0;
    text-align: center;
    color:white;
}
.title{
    font-size: 46px;
    font-weight: 800;
}
.text, .box.download, .box.browse{
    font-size: 18px;
}
.box.download, .box.browse{
    padding: 10px 6px;
    margin: 10px;
}
.box.browse{
    background-color:#23272A;
    color: white;
}


/* SPECIFIC MAIN STYLE */

.section.bg-blu{
    border-bottom: 2px solid gray;
}
.col-80.bg-violet, .col-30.bg-pink, .col-70.bg-lightblu, .col-100.bg-green{
    margin:20px 0px;
}
.col-80.bg-violet, .col-1-3.bg-darkpink, .col-25.bg-darkcyan{
    min-height: 300px;
}
.col-30.bg-pink,.col-70.bg-lightblu{
    min-height: 400px;
}
.col-100.bg-green{
    min-height: 500px;
}

/* SPECIFIC FOOTER STYLE */
.col-100.bg-cyan{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    min-height:30px;
}
.border{
    border-bottom: 2px  solid gray;
}
.button{
    max-width: 70px;
}








/* DEBUG RULES */
.debug .container{
        padding: 10px;
}
.debug .column{
    border:2px dashed black;
    padding: 6px;
}
.debug .col-2-3{
    border:2px dashed black;
    padding: 0;
}
.debug .col-25.bg-darkcyan{
    border: 2px dashed white;
    }

