/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol,menu{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}


/* FONT */
body{
    font-family: 'Playpen Sans', cursive;
}


/* LAYOUT STYLE */
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.container-sm{
    max-width: 700px;
    margin: 0 auto;
}
.row,.row-reverse{
    display: flex;
    flex-wrap: wrap;
}
.row-reverse{
flex-direction: row-reverse;
}


/* UTILITY */
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.ptb30{
    padding: 30px 0;
    }
.ptb50{
    padding: 50px 0;
}
.pb20{
    padding-bottom: 20px;
}
.bg-lightgray{
    background-color:#F6F6F6;
}
.bg-darkgray{
    background-color:#23272A;
}
.col-3{
    width:25%;
}
.col-4{
    width:calc(100%/3);
}
.col-8{
    width:calc(2*100%/3);
}
.col-12{
    width: 100%;
}
.title{
    font-size: 46px;
    font-weight: 700;
}
.subtitle{
    font-size: 28px;
}
.text, .box{
    font-size: 18px;
}
.box{
    line-height: 28px;
    border-radius: 15px;
    min-width: 70px;
    text-align: center;
    background-color: white;
    color: black;
    padding:6px;
}


/* SPECIFIC HEADER STYLE */
.page-header{
    min-height: 400px;
    background-image:url(./img/jumbo.png);
    background-size:cover;
}


/* NAVBAR */
.navbar{
    justify-content: space-between;
}
.link{
    color:white;
    display: flex;
    gap: 20px;
    align-self: center;
}

/* BANNER  */
.banner{
    padding: 30px 0;
    text-align: center;
    color:white;
}
.box.browse{
    background-color:#23272A;
    color: white;
}

/* SPECIFIC MAIN STYLE */
.col-12{
   text-align: center;
}
.stars{
    padding-top: 15px;
    background-image: url(./img/stars.svg);
    background-position: center;
    background-size:contain;
}
.col-12 .box{
    background-color:#8EA1E1 ;
}

/* SPECIFIC FOOTER STYLE */
.main-footer .row{
    align-items: baseline;
}
.colortext{
    color:#7289DA ;
}
.main-footer .text{
    color: white;
}
#flag{
    width: 30px;
    height: 20px;
}
.social{
     width: 22px;
     filter: invert(100%); /*soluzione trovata su stack overflow*/
}
.main-footer .col-12{
    display: flex;
    justify-content: space-between;
 }
 .border-blue{
    border-top:2px solid #465379;
 }

